<section class="listar-inmueble-wrapper">
  <div class="container mt-4">
    <a routerLink="/agregar-inmueble" class="btn btn--small btn--brand"
      >crear inmueble</a
    >
    <div class="row mt-3">
      <div class="col-lg-8 offset-lg-2">
        <div class="card">
          <div class="card-body text-center">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Propietario</th>
                  <th scope="col">Teléfono</th>
                  <th scope="col">Dirección</th>
                  <th scope="col">Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let r of listaRegistros">
                  <td>{{ r.propietario }}</td>
                  <td>{{ r.telefono }}</td>
                  <td>{{ r.direccion }}</td>
                  <td>
                    <a class="btn"
                      routerLink="../editar-inmueble/{{ r._id }}"
                      ><svg width="28" height="28" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="m11.88 19.892-3.889 2.03c-.575.303-1.217-.339-.913-.914l2.03-3.889 2.772 2.773ZM20.056 11.701l-2.773-2.773L9.63 16.58l2.774 2.773 7.652-7.652ZM21.62 8.361l-.981-.98a1.246 1.246 0 0 0-1.793 0l-1.014 1.014 2.773 2.773 1.014-1.015c.508-.507.508-1.318 0-1.792Z" fill="#17a2b8"></path></svg></a
                    >
                    &nbsp;
                    <a class="btn"
                      routerLink="../eliminar-inmueble/{{ r._id }}"
                      class="btn red"
                      ><svg xmlns="http://www.w3.org/2000/svg" width="18" height="28" viewBox="0 0 394.299 394.299" xml:space="preserve"><path d="M345.738 56.108h-80.183V29.735C265.556 13.343 252.213 0 235.82 0h-77.354c-16.393 0-29.724 13.343-29.724 29.735v26.373H48.555c-16.394 0-29.724 13.343-29.724 29.736v38.671c0 6.794 5.503 12.298 12.298 12.298H63.41v227.762c0 16.393 13.331 29.724 29.724 29.724h212.63c16.394 0 29.736-13.331 29.736-29.724V136.813h27.67c6.785 0 12.298-5.503 12.298-12.298V85.844c0-16.393-13.337-29.736-29.73-29.736zm-192.4-26.373c0-2.834 2.306-5.14 5.128-5.14h77.354a5.146 5.146 0 0 1 5.14 5.14v26.373h-87.622V29.735z" fill="#dc3545"/></svg></a
                    >
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
