<section class="listar-inmueble-wrapper">
  <br>
  <div class="container">
    <a routerLink="/agregar-tipo-inmueble" class="btn btn--small btn--brand">crear inmueble</a>
    <div class="row mt-3">
      <div class="col-lg-8 offset-lg-2">
        <div class="card">
          <div class="card-body text-center">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Nombre del Tipo de Inmueble</th>
                  <th scope="col">Acciones</th>
                </tr>
              </thead>
              <tbody>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
