.place-items-center{
  display: inline-flex !important;
  align-items: center;
  justify-content: center;
}

.text-center{
  text-align: center !important;
}

.bounce {
  outline: 0;
  border-color: red !important;
  animation-name: bounce;
  animation-duration: .5s;
  animation-delay: 0.25s;
}

.floating-background-img{
  height: 28.125rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  & img{
    height: 100%;
    object-fit: cover;
  }
}

.is-required{
  display: block;
  margin-bottom: 8px;
  color: var(--dark-color);
  font-weight: 600;
  font-size: 0.875rem;

  &:after{
    content: " *";
    color: #e32;
  }
}
