<div class="inmueble-wrapper">
  <div class="inmueble-wrapper inmueble-wrapper-container">
    <form
      class="inmueble-form"
      [formGroup]="inmuebleForm"
      (ngSubmit)="submit()"
    >
      <app-input
        [parentForm]="inmuebleForm"
        fieldName="propietario"
        label="¿Cuál es nombre del propietario del inmueble?"
        formControlName="propietario"
        placeholder="Nombre del propietario del inmueble"
        [isRequired]="true"
        class="col"
      >
      </app-input>

      <app-input
        [parentForm]="inmuebleForm"
        fieldName="telefono"
        label="Telefono"
        formControlName="telefono"
        placeholder="Telefono"
        [isRequired]="true"
        class="col"
      >
      </app-input>

      <app-input
        [parentForm]="inmuebleForm"
        fieldName="direccion"
        label="Direccion"
        formControlName="direccion"
        placeholder="Direccion"
        [isRequired]="true"
        class="col"
      >
      </app-input>

      <label class="is-required">Tipo de Inmueble</label>
      <select formControlName="tipoId" class="form-select mb-4">
        <option *ngFor="let o of opcionesTipoInmueble" value="{{ o._id }}">
          {{ o.nombre }}
        </option>
      </select>

      <div class="group-btn">
        <button
          type="submit"
          [disabled]="inmuebleForm.invalid"
          class="btn btn--small btn--success me-4"
        >
          <p>Guardar</p>
        </button>

        <button
          routerLink="/listar-inmueble"
          type="button"
          class="btn btn--small btn--danger"
        >
          <p>Cancelar</p>
        </button>
      </div>
    </form>
  </div>
</div>
